.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 11px;
    margin-bottom: 4px;

    
    &__input {
        padding: 5px 0px 4px 25px;
        border: none;
        width: 668px;
        color: #000000;
        font-size: 16px;
        font-weight: 600;
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }
    &__btn {
        width: 40px;
        height: 33px;
        background-color: #ffaf2d;
        border: none;
        border-radius: 0 5px 5px 0;
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
        img {
            width: 17px;
        }
    }
    &__pos {
        position: relative;
        overflow: hidden;
        transition: 0.5s all;
        margin-top: -50px;
        opacity: 0;
        z-index: 101;
        &-active {
            margin-top: 0;
            opacity: 1;
            overflow: visible;
        }
    }
    
    &__drop {
        position:absolute;
        display: flex;
        flex-direction: column;
        top: 18px;
        left: 0;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        background-color: #ffffff;
        width: 619px;
        padding: 9px 25px 4px 25px;
        a{
            color:unset;
            text-decoration: none;
            border-bottom: 1px solid #e8e7e7;
            padding-bottom: 5px;
            cursor: pointer;
            &:last-child {
                border-bottom: none;
            }
        }
        span {
            display: block;
            color: #777777;
            font-size: 12px;
            margin-top: -4px;
        }
    }


    .select {
        position: relative;
        &__current {
            padding-left: 11px;
            border: none;
            border-radius: 5px 0 0 5px;
            background-color: #f1f1f1;
            color: #777777;
            font-size: 14px;
            font-weight: 400;
            height: 33px;
            padding-right: 20px;
            padding-top: 6px;
            white-space: nowrap;
            cursor: pointer;
            &:active,
            &:focus {
                border: none;
                outline: none;
            }
            &::after {
                content: '';
                position: absolute;
                top: 44%;
                right: 6px;
                display: block;
                border: solid;
                border-width: 5px 4px 0;
                border-color: #393939 transparent transparent transparent;
                cursor: pointer;
            }
        }
        &__body {
            display: none;
            position: absolute;
            top: 33px;
            left: -2px;
            min-width: 170px;
            border: 1px solid #e8e7e7;
            background-color: #f1f1f1;
            z-index: 201;
            color: #343434;
            font-size: 13px;
            font-weight: 300;
            padding: 10px 20px 20px 10px;
            &-active {
                display: block;
            }
        }
        &__title {
            color: #777777;
            margin-bottom: 20px;
        }
        &__item {
            cursor: pointer;
            &:hover {
                color: #00aa4b;
            }
        }
    } 
}
    