@media (max-width: 1200px) {
    .news {
        padding-left: 10px;

        &__wrapper {
            column-gap: 100px;
        }

        &__item {
            column-gap: 30px;
        }
    }
}

@media (max-width: 992px) {
    .news {
        padding-right: 20px;
        padding-left: 20px;

        &__wrapper {
            display: block;
        }

        &__home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        &__desc {
            &-mt {
                margin-top: -4px;
            }
        }

        &__item {
            column-gap: 0px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {
    .news {
        display: none;
    }
}