@media (max-width: 1200px) {
    .sentence {
        margin-left: 10px;
    }
}

@media (max-width: 992px) {
    .sentence {
        &__item {
            &:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .sentence {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &__item {
            &:nth-child(1) {
                order: 2;

            }

            &:nth-child(2) {
                order: 1;
                margin-bottom: 15px;
            }
        }


    .card {
        opacity: 0;
        margin-top: -93px;
        transition: 1s all;
        }
    }
}

@media (max-width: 500px) {
    .sentence {
        .card {
            opacity: 0;
            margin-top: -120px;
            transition: 1s all;
        }
    }
}