
@import "base/fonts";

@import "libs/bootstrap-reboot.min";
@import 'libs/animate';

* {
    font-family: "Myriad Pro", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    line-height: 0;
    background-color: #e8e7e7;
    ul {
        margin-bottom: 0;
    }
}

@import 'block/header';

.no-scroll {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    
}

@import'base/mobile';
